In [ ]:
name = "sana"
print("My name is :",name)

My name is : sana

In [ ]:
print("Hello world")#function call
x=5 #Variable assignment
y=10 #No need to declare type

Hello world

In [ ]:
age=20 #Int
height=6.0 #float
complex_num =3+4j #complex
print(age,height,complex_num)
print(type(age),"\n",type(height),"\n",type(complex_num))

20 6.0 (3+4j)
<class 'int'>
 <class 'float'>
 <class 'complex'>

In [ ]:
is_active= True
is_finished=False
print(is_active,is_finished)

True False

In [ ]:
print(type (age))#class'int'
print(type(height))#class 'float'
print(type(name))#class 'str'
print(type(complex_num))#class 'complex'
print(type(is_active))#class 'bool'

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [ ]:
str_number="123"
int_number=int(str_number)
float_number=float(str_number)

print(f"Original:{str_number} (type:{type(str_number)})")
print(f"Integer:{int_number} (type:{type(int_number)})")
print(f"Float:{float_number}(type:{type(float_number)})")

Original:123 (type:<class 'str'>)
Integer:123 (type:<class 'int'>)
Float:123.0(type:<class 'float'>)

In [ ]:
first_name ="Sahana"
last_name ="Karigar"
age = 20
height = 6.2
is_student = True

In [ ]:
print(f"Name:{first_name} {last_name}")
print(f"Age:{age}")
print(f"Height:{height}")
print(f"Is Student:{is_student}")

Name:Sahana Karigar
Age:20
Height:6.2
Is Student:True

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age as String:{age_str}")
print(f"height as integer:{height_int}")

Age as String:20
height as integer:6

In [ ]:
a=5
b=4
print("Addition :",a+b)
print("substraction :",a-b)
print("Multiplication :",a*b)
print("Division :",a/b)
print("floor Division :", a//b)
print("Modulus :",a%b)
print("Exponentation :",a**b)

Addition : 9
substraction : 1
Multiplication : 20
Division : 1.25
floor Division : 1
Modulus : 1
Exponentation : 625

In [ ]:
result= 5+3*2**2-1
print(f" 5+3*2**2-1 = {result}")

 5+3*2**2-1 = 16

In [ ]:
x=10
y=30
print(x==y)# Equal to
print(x!=y)#Not Equal to
print(x<y)#Less Than-
print(x>y)# Greater than
print(x<=y)# Less than equals to
print(x>=y)# Greater than Equals to

False
True
True
False
True
False

In [ ]:
p = True
q = False
print(f"p and q: {p and q}")#Both must be true
print(f"p or q: {p or q}")# atleas one must be true
print(f"not p: {not p}")# Opposite of p

p and q: False
p or q: True
not p: False

In [ ]:
age = 20
has_licencce= True
can_drive = age>=18 and has_licencce
print(f"Can Drive:{can_drive}")

Can Drive:True

In [ ]:
score = 85
is_present = True
can_pass = score>=80 and is_present
print(f"can pass {can_pass}")

can pass True

In [ ]:
#Exercise 2
#Create a calculator that checks if a person qualifies for a loan
# personal information
age = 25
annual_income = 50000
credit_score = 720
has_collateral = True

In [ ]:
# Loan Criteria
min_age = 10
min_income = 10000
min_credit_score = 650

In [ ]:
#Check Qualification
age_qualified = age>= min_age
income_qualified = annual_income >=min_income
credit_qualified = credit_score>= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualified

In [ ]:
#Print Qualification
print(f"Age Qualified:{age_qualified}")
print(f"Income Qualified:{income_qualified}")
print(f"Credit Qualified:{credit_qualified}")
print(f"Overall Qualified:{overall_qualified}")

Age Qualified:True
Income Qualified:True
Credit Qualified:True
Overall Qualified:True

In [ ]:
fruits = ["apple","banana","Orange", "grapes"]
numbers = [10,20,30,40,50]
mixed_data=[1,"Hello",3.14,True]
print(f"fruits:{fruits[0]}")
print(f"fruits:{fruits[-1]}")
print(f"second to last fruit:{fruits[-2]}")

fruits:apple
fruits:grapes
second to last fruit:Orange

In [ ]:
print(f"First 2 fruits:{fruits[0:2]}")
print(f"Last 2 fruits:{fruits[-2:]}")
print(f"All expect first:{fruits[1:]}")

First 2 fruits:['apple', 'banana']
Last 2 fruits:['Orange', 'grapes']
All expect first:['banana', 'Orange', 'grapes']

In [ ]:
fruits.append("Kiwi")
fruits.insert(1,"strberry")
remove=fruits.pop()
print(f"Updated list:{fruits}")
print(f"Removed:{remove}")

Updated list:['apple', 'strberry', 'strberry', 'banana', 'Orange', 'grapes']
Removed:Kiwi

In [ ]:
#Operations on list
print(f"Length of fruits:{len(fruits)}")
print(f"Contains 'apple' : {'apple' in fruits}")
print(f"Index of 'banana' : {fruits.index('banana')}")

Length of fruits:6
Contains 'apple' : True
Index of 'banana' : 3

In [ ]:
#Tuples
coordinates=(10,20)
rgb_color=(255,128,0)
person_info = ("Alice",25,"Engineer",True)

In [ ]:
#tuple unpacking
x,y=coordinates
print(f"x:{x},y:{y}")

x:10,y:20

In [ ]:
#tuple methods
print(f"Count of 25 : {person_info.count(25)}")
print(f"Index of 'Engineer':{person_info.index('Engineer')}")

Count of 25 : 1
Index of 'Engineer':2

In [ ]:
 #dictionary
 person = {
     "name":"Alice Johnson",
     "age":23,
     "profession":"Software Engineer",
     "Salry":75000,
     "Skills":["Python","Java","C++"]
 }

In [ ]:
print(f"name:{person['name']}")
print(f"Age:{person['age']}")
print(f"Skills:{person['Skills']}")

name:Alice Johnson
Age:23
Skills:['Python', 'Java', 'C++']

In [ ]:
#Adding, Updating
person["Location"]="New York"
person["Salary"]=84000 #updating Existing

In [ ]:
inventory = {
    "Laptops":{
        "Quantity":50 ,
        "price":999.99},
    "Mobile":{
        "Quantity":100,
        "price":4999.99},
    "Tablet":{
        "Quantity":30,
        "price":1499.99}
}

In [ ]:
#nested Access
print(f"Laptops price: ${inventory['Laptops']['price']}")

Laptops price: $999.99

In [ ]:
#sets contain Unique Elements
Colors = {"Red","Green","Blue","Red"}
print(f"Colors:{Colors}") #Duplicate remove

Colors:{'Red', 'Blue', 'Green'}

In [ ]:
team1_skills = {"Python","Javascript","SQL","React"}
team2_skills = {"Javascript","SQL","Java","Spring"}

In [ ]:
print(f"Common Skill;{team1_skills.intersection(team2_skills)}")
print(f"All Skills:{team1_skills.union(team2_skills)}")
print(f"Team1 only:{team2_skills.difference(team1_skills)}")

Common Skill;{'SQL', 'Javascript'}
All Skills:{'Python', 'Javascript', 'Spring', 'Java', 'React', 'SQL'}
Team1 only:{'Java', 'Spring'}

In [ ]:
#Adding to Sets
Colors.add("Yellow")
Colors.update(["Purple","Orange"])
print(f"Updated Colors:{Colors}")

Updated Colors:{'Blue', 'Yellow', 'Red', 'Purple', 'Green', 'Orange'}

In [ ]:
#Control Flow Statements
#Conditional Statements
#Basuc if-else

def get_grade_letter(score):
  if score>=90:
    return "A"
  elif score>=80:
    return "B"
  elif score>=70:
    return "C"
  elif score>=60:
    return "D"
  else:
    return "F"

In [ ]:
test_score = [95,83,72,65,58]
for score in test_score:
  grade = get_grade_letter(score)
  print(f"Test Score:{score}, Grade:{grade}")

Test Score:95, Grade:A
Test Score:83, Grade:B
Test Score:72, Grade:C
Test Score:65, Grade:D
Test Score:58, Grade:F

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost=5.0

  if weight <= 1:
    weight_cost=2.0
  elif weight <=5:
    weight_cost=5.0
  else:
    weight_cost=10.0

  if distance <= 100:
    distance_cost=1.0
  elif distance <=500:
    distance_cost=3.0
  else:
    distance_cost=7.0

  return base_cost+weight_cost+distance_cost

In [ ]:
#Total Shipping Cost
print(f"Light, close : ${get_shipping_cost(0.5,50)}")
print(f"Heavy, far : ${get_shipping_cost(10,800)}")

Light, close : $8.0
Heavy, far : $22.0

In [ ]:
#Loops (For Loop)
#Basic for loop
fruits = ["Apple","Banana","Orange","Grapes"]
for fruit in fruits:
  print(f"i like {fruit}")

i like Apple
i like Banana
i like Orange
i like Grapes

In [ ]:
#Loops for enumarate
for day in range(1,8):
  print(f"day {day} of the week")

day 1 of the week
day 2 of the week
day 3 of the week
day 4 of the week
day 5 of the week
day 6 of the week
day 7 of the week

In [ ]:
print("Multiplication Table:")
for i in range(1,6):
  for j in range(1,6):
    product = i * j
    print(f"{i} X {j} = {product:2d}",end=" ")
    print() #Now line after each other

Multiplication Table:
1 X 1 =  1
1 X 2 =  2
1 X 3 =  3
1 X 4 =  4
1 X 5 =  5
2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 = 10
3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 = 12
3 X 5 = 15
4 X 1 =  4
4 X 2 =  8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
5 X 1 =  5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

In [ ]:
sales_data= [
     {"Product":"Laptop","price":959,"Quantity":5},
     {"Product":"Phone","price":599,"Quantity":10},
     {"Product":"Tablet","price":399,"Quantity":8},
]

total_revenue = 0
for item in sales_data:
  item_revenue = item["price"] * item["Quantity"]
  total_revenue += item_revenue
  print(f"{item['Product']}: ${item_revenue}")

Laptop: $4795
Phone: $5990
Tablet: $3192

In [ ]:
def simple_guessing_game():
  target = 7
  guess = 0
  attempts = 0
  print("Guess the number between 1 and 10")

  while guess != target:

      #Stimulate user input
      import random
      guess = random.randint( 1,10 )
      attempts += 1


      if guess < target:
        print(f"Guess {attempts}: {guess} - Too low!")
      elif guess > target:
        print(f"Guess {attempts}: {guess} - Too high!")
      else:
        print(f"Guess {attempts}: {guess} - Correct!")

      #safety Check
      if attempts > 10:
        print("Max attempts reached!")
        break

      print(f"Game finished in {attempts} attempts")

simple_guessing_game()

Guess the number between 1 and 10
Guess 1: 3 - Too low!
Game finished in 1 attempts
Guess 2: 9 - Too high!
Game finished in 2 attempts
Guess 3: 4 - Too low!
Game finished in 3 attempts
Guess 4: 10 - Too high!
Game finished in 4 attempts
Guess 5: 8 - Too high!
Game finished in 5 attempts
Guess 6: 5 - Too low!
Game finished in 6 attempts
Guess 7: 8 - Too high!
Game finished in 7 attempts
Guess 8: 7 - Correct!
Game finished in 8 attempts

In [ ]:
def process_queue():
  queue = ["Task 1","Task 2" ,"Task 3","Task 4"]

  while queue:
    current_task = queue.pop(0) #Remove first item
    print(f"Processing :{current_task}")

    print(f"Remaining tasks: {len(queue)}")
  print("All tasks completed!")
process_queue()

Processing :Task 1
Remaining tasks: 3
Processing :Task 2
Remaining tasks: 2
Processing :Task 3
Remaining tasks: 1
Processing :Task 4
Remaining tasks: 0
All tasks completed!

In [ ]:
def greet(name):
  return f"Hello,{name}!"
message = greet("sahana")
print(message)

Hello,sahana!

In [ ]:
def calculate_area(length,width):
  area = length* width
  return area

In [ ]:

room_area = calculate_area(12,10)
print(f"Room area:{room_area} Square feet")

Room area:120 Square feet

In [ ]:
def create_user_profile(name, age=18,location="Unknown",active=True):
  return {
      "name":name,
      "age":age,
      "location":location,
      "active":active
  }

In [ ]:
profile1 = create_user_profile("Alice")#use defaults
profile2 = create_user_profile("Bob",25)#Overrides age
profile3 = create_user_profile("Charlie",location = "New York",age=30)#Overrides age
print(f"Profile 1: {profile1}")
print(f"Profile 2: {profile2}")
print(f"Profile 3: {profile3}")

Profile 1: {'name': 'Alice', 'age': 18, 'location': 'Unknown', 'active': True}
Profile 2: {'name': 'Bob', 'age': 25, 'location': 'Unknown', 'active': True}
Profile 3: {'name': 'Charlie', 'age': 30, 'location': 'New York', 'active': True}

In [ ]:
#Function Returning Multiple values
def analyze_text(text):
  words = text.split()
  word_count = len(words)
  char_count = len(text)
  char_count_no_spaces = len(text.replace(" "," "))
  return word_count,char_count,char_count_no_spaces

In [ ]:
sample_text = "Python is a powerful programming language"

words,chars,chars_no_spaces = analyze_text(sample_text)

print(f"Text: '{sample_text}'")
print(f"Words:{words}")
print(f"Characters count:{chars}")
print(f"Characters(no spaces):{chars_no_spaces}")

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0
  return sum(numbers)/len(numbers)

In [ ]:
avg1 = calculate_average(10,20,30)
avg2 = calculate_average(5,15,25,35,45)
avg3 = calculate_average(100)

print(f"average of 10,20,30:{avg1}")
print(f"average of 5,15,25,35,45 :{avg2}")
print(f"average of 100:({avg3}")

average of 10,20,30:20.0
average of 5,15,25,35,45 :25.0
average of 100:(100.0

In [ ]:
def create_report(**data):
  print("===REPORT===")

  for key,value in data.items():
    print(f"{key.replace('_',' ').title()}:{value}")

  print("=================")
create_report(
  title="Montly Slales Report",
  date="2024-01-01",
  total_sales=15000,
  new_customer=25,
  )

===REPORT===
Title:Montly Slales Report
Date:2024-01-01
Total Sales:15000
New Customer:25
=================

In [ ]:
def square(x):
  return x**2

In [ ]:
square_lambda = lambda x: x **2
print(f"Regular Function :{square(5)}")
print(f"Lambda Function : {square_lambda(5)}")

In [ ]:
multiply = lambda x, y: x * y
print(f" Multiply {multiply(3,4)}")

 Multiply 12

In [ ]:
numbers = [1,2,3,4,5]
squared = list(map(lambda x: x**2,numbers))
print(f"Squared numbers:{squared}")

Squared numbers:[1, 4, 9, 16, 25]

In [ ]:
ages = [16,21,35,12,45,18,67]
adults = list(filter(lambda age: age>=18,ages))
print(f"Adults ages:{adults}")

Adults ages:[21, 35, 45, 18, 67]

In [ ]:
people = [
    {"name":"Alice","age":25},
    {"name":"Bob","age":30},
    {"name":"Charlie","age":22}
]
sorted_people = sorted(people,key = lambda person:person["age"])
print("People Sorted by age:")


for person in sorted_people:
  print(f"{person['name']}:{person['age']}")

People Sorted by age:
Charlie:22
Alice:25
Bob:30

In [ ]:
import numpy as np
a = np.array([1,2,3,4,5])
b = np.arange(1,6)
c = np.zeros((1,2))
d = np.ones((1,2))
print("Array a: ",a)
print("Array b: ",b)
print("1*3 Zeros :",c)
print("2*3 Ones",d)

Array a:  [1 2 3 4 5]
Array b:  [1 2 3 4 5]
1*3 Zeros : [[0. 0.]]
2*3 Ones [[1. 1.]]

In [ ]:
print("First Element Of a:",a[0])
print("Last Two Element of a:",a[-2:])

First Element Of a: 1
Last Two Element of a: [4 5]

In [ ]:
#Basic Arithematic Operation

print("a + 2",a+2)
print("a - 3",a-b)
print("a * 3",a*3)

a + 2 [3 4 5 6 7]
a - 3 [0 0 0 0 0]
a * 3 [ 3  6  9 12 15]

In [ ]:
# Basic Statistics

print("Square of a:",np.square(a))
print("Mean Of a: ",np.mean(a))
print("Standard deviation :",np.std(a))

Square of a: [ 1  4  9 16 25]
Mean Of a:  3.0
Standard deviation : 1.4142135623730951

In [ ]:
# Reshaping Array

matrix = np.arange(1,10).reshape((3,3))
print("Reshaped 3*3 matrix:")
matrix

Reshaped 3*3 matrix:

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
#TRANSPOSE

print("Transpose of matrix:")
matrix.T

Transpose of matrix:

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [ ]:
#Boolean Indexing


print("Elements > 5:",matrix[matrix>5])

Elements > 5: [6 7 8 9]